
<h1>"Lessons learned in the home, last the longest." </h1>
<blockquote>-Thomas S. Monson</blockquote>
<% if signed_in? %>
	<%= link_to "Profile", current_user , :class => "large_button round" %><br />
	<%= link_to "Lessons", lessons_path, :class => "large_button round" %><br />
	<%= link_to "Family", members_path, :class => "large_button round" %>


<% else %>
	<%= link_to "Sign up", signup_path, :class => "large_button round" %><br />
	<%= link_to "Sign in", signin_path, :class => "large_button round" %>
<% end %>

