

<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
    	<h1>
        	<%= gravatar_for @user %>
        	<%= @user.name %>
      	</h1>
    <h3>My Lessons:</h3>
		<% unless @user.lessons.empty? %>
			<table class="lessons" summary="Lessons">
			<!-- automatically renders each lesson in the @lessons using _lesson.html.erb partial -->
    		<%= render @lessons %>
			</table>
			<%= will_paginate @lessons %>
		<% end %>

    <h3>Public Lessons:</h3>
    <% unless @public_lessons.empty? %>
      <table class="lessons" summary="Lessons">
      <% @public_lessons.each do |lesson| %>
      <tr>
        <td class="lesson">
          <%= link_to lesson.title, lesson %><br />
          <span class="timestamp">
            Created by <%= link_to lesson.user.name, lesson.user %>.
          </span>
          <%= link_to "Add", new_lesson_path(:id => lesson) %>
        </td>
      </tr>
      <% end %>
      </table>
    <% end %>



    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>Lessons</strong> <%= @user.lessons.count %><br />
      <%= link_to "Create New", new_lesson_path %><br />
    </td>
  </tr>
</table>



